body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f2f2f2;
}

.sidebar {
    background-color: #007bff;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    height: 707px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    
}

label {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#sonuc {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.content {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* Renkli sonuç gösterimi */
#result.blue {
    color: blue;
}

#result.green {
    color: green;
}

#result.orange {
    color: orange;
}

#result.red {
    color: red;
}
.select{
    height: 30px;
}
#gender{
    height: 35px;
}
#activityLevel{
    height: 35px;
}
.yazi h1,h3{
    text-align: center;
    
}
.rsm{
    width: 1200px;
    height: 500px;
    text-align: center;
}
.rsm h4{
    font-size: 30px;
}